# 不需要同步到仓库的内容
.DS_Store
Thumbs.db
*.tmp
*.temp
~$*
/.obsidian

# Quartz 构建产物
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
.turbo/
